<p id="notice"><%= notice %></p>

<h1>やること一覧</h1>
<%= form_with scope: :task, url: root_path, method: :get, local: true do |f| %>
  やること<%= f.text_field :task_name, placeholder: "検索.." %>
  <%= f.label :ステータス %>
  <%= f.select :status, Task.statuses_i18n.invert, {prompt: "選択してください"} %>
  <%= f.submit "検索" %>
<% end %>


<table>
  <head>
    <tr>
      <th>やること</th>
      <th>内容</th>
      <th><%= link_to "終了期限でソートする", tasks_path(sort_end: "true") %></th>
      <th>登録日時</th>
      <th>ステータス</th>
      <th colspan="完了"></th>
    </tr>
  </head>

  <body>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task_row"><%= task.task_name %></td>
        <td><%= task.content %></td>
        <td><%= task.end_date %></td>
        <td><%= task.created_at.to_s(:datetime_jp) %></td>
        <td><%= task.status %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </body>
</table>

<br>

<%= link_to 'やること追加', new_task_path %>
