<p id="notice"><%= notice %></p>

<p>
  <strong>Task_name:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>End_date:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<% if current_user == @user || current_user.admin? %>
  <%= link_to "編集", edit_user_path(@user) %>
  <%= link_to "削除", user_path(@user), method: :delete, data: { confirm: "本当に削除しますか?" } %>
<% end %>
