<p id="notice"><%= notice %></p>

<p>
  <strong>Task_name:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>End_date:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '一覧に戻る', tasks_path %>
