<h1>ユーザー新規登録</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <%= f.label :お名前 %>
  <%= f.text_field :name %>

  <%= f.label :メールアドレス %>
  <%= f.email_field :email %>

  <%= f.label :パスワード %>
  <%= f.password_field :password %>

  <%= f.label :パスワード再入力 %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "登録" %>
<% end %>