<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>



<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'プロフィール編集', edit_user_path(@user) %>
<% if  current_user.admin? %>
  <%= link_to '管理者画面', admin_users_path %>
<% end %>